<div class="container mt-5">
    <h2 class="text-white">Quien soy</h2>
    <div class="row text-white border">
        <div class="col">
            <h3>Ricardo Sebastián Ledesma</h3>
            <p>Estudiante de la tecnicatura universitaria en programación.</p>
            <p>Java developer</p>
        </div>
    </div>
    <div class="row text-white border mt-3 p-2">
        <div class="col-3">
            <img class="img-fluid" src="./assets/fotoPerfil.jpg" alt="Imagén de perfil">
        </div>
        <div class="col-9">
            <h2>Repositorio Github del proyecto</h2>
            <a class="btn btn-info" href="https://github.com/SebastianLedesma/SalaDeJuegos2022" target="_blank">Perfil de GitHub</a>
        </div>
    </div>
</div>