<app-navbar></app-navbar>

<br>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-between">
                <h1 class="text-white">Sala de juegos</h1>
                <button (click)="accionarChat()" class="btn text-white" id="btn-chat">{{ textoBoton }}</button>
            </div>
        </div>
    </div>

    <div>
        <div class="row">
            <div class="col-8 border border-light">
                <router-outlet></router-outlet>
            </div>
            <div class="col-4 bg-white border border-light" *ngIf="chatActivado">
                <app-chat></app-chat>
            </div>
        </div>
    </div>
</div>